<form [formGroup]="form" (ngSubmit)="sendform()">
    <p>NAME:</p>
    <input formControlName="name" placeholder="Name">
    <div class="text-red-400 text-sm" *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
      ❌ Name is required and must be at least 3 characters.
    </div>
  
  
    <p>EMAIL:</p>
    <input formControlName="email" type="email" placeholder="Email">
    <div class="text-red-400 text-sm" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
      ❌ It must be a valid email.
    </div>
  
    <p>PASSWORD</p><br>
    <input formControlName="password1" type="password" placeholder="Password">
    <div class="text-red-400 text-sm" *ngIf="form.controls[password1].dirty">
      <span class="block" [ngClass]="{'text-primary': form.controls['password1'].value?.match('^(?=.*[A-Z])')}">letter.</span>
        <span class="block" [ngClass]="{'text-primary': form.controls['password1'].value?.match('(?=.*[a-z])')}">At least one lowercaseletter.</span>
        <span class="block" [ngClass]="{'text-primary': form.controls['password1'].value?.match('(.*[0-9].*)')}">At least onedigit.</span>
        <span class="block" [ngClass]="{'text-primary': form.controls['password1'].value?.match('(?=.*[!@#$%^&*])')}">At least onespecialcharacter.</span>
        <span class="block" [ngClass]="{'text-primary': form.controls['password1'].value?.match('.{8,}')}">At least 8 characterslong.</span>
     </div><br><br>
  
     <!-- <p>CONFIRM PASSWORD</p>
     <input formControlName="confirmPassword" type="password" placeholder="Confirm Password">
     <div class="text-red-400 text-sm" *ngIf="form.controls[password2].dirty form.hasError('conconfirmPassword')" >
        
     </div> -->
    <p>AGE: </p>
    <input formControlName="age" type="number" placeholder="Age">
    <div class="text-red-400 text-sm" *ngIf="form.controls['age'].invalid && form.controls['age'].touched">
      ❌ You must be over 18 years old.
    </div>
  
  
    <p>TERMS: </p>
    <label>
      <input formControlName="aceptTerms" type="checkbox"> Acepto los términos
    </label>
    <div class="text-red-400 text-sm" *ngIf="form.controls['aceptTerms'].invalid && form.controls['aceptTerms'].touched">
      ❌ The registration terms are mandatory, you must accept them to continue.
    </div>
  
  
    <p>GENDER: </p>
    <div>
      <label><input type="radio" formControlName="gender" value="male"> Male</label>
      <label><input type="radio" formControlName="gender" value="famale"> Famale</label>
      <label><input type="radio" formControlName="none" value="none">I prefer not to answer</label>
    </div>
    <div class="text-red-400 text-sm" *ngIf="form.controls['gender'].invalid && form.controls['gender'].touched">
        ❌You must select an option to continue
    </div>
   
  