<script src="https://kit.fontawesome.com/30a046424d.js" crossorigin="anonymous"></script>

<footer class="bottom-0 left-0 bg-black text-white flex items-center justify-center gap-12 h-16 px-6">

    <div class="text-sm">&copy; <u>Navy-Battle. All rights reserved.</u></div>
    
    <div class="flex space-x-4">
        <a href="#" class="hover:underline">About us</a>
        <a href="#" class="hover:underline">Statistics</a>
        <a href="#" class="hover:underline">Contact</a>
    </div>

</footer>


