<div class="flex flex-col flex-grow py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-12 text-gray-800">CONTACT US</h2>
      
      <div class="max-w-lg mx-auto bg-white rounded-lg shadow-md overflow-hidden transform transition hover:scale-105 p-6">
        <div class="h-2 bg-red-600"></div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="p-6">
          <div class="mb-4">
            <label class="block text-gray-700">Name</label>
            <input type="text" formControlName="name" class="w-full p-2 border rounded-md" />
            @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched) {
              <div class="text-red-500 text-sm">
                Name is required.
              </div>
            }
          </div>

          <div class="mb-4">
            <label class="block text-gray-700">Email</label>
            <input type="email" formControlName="email" class="w-full p-2 border rounded-md" />
            @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
              <div class="text-red-500 text-sm">
                Insert a valid email.
              </div>
            }
          </div>

          <div class="mb-4">
            <label class="block text-gray-700">Message</label>
            <textarea formControlName="message" rows="4" class="w-full p-2 border rounded-md"></textarea>
            @if (contactForm.get('message')?.invalid && contactForm.get('message')?.touched) {
              <div class="text-red-500 text-sm">
                The message is required.
              </div>
            }
          </div>

          <button type="submit" class="w-full bg-red-600 hover:bg-red-700 text-white font-bold py-3 px-8 rounded-full text-lg transform transition hover:scale-105 shadow-lg" [disabled]="contactForm.invalid">
            Send
          </button>
        </form>
      </div>
    </div>
  </div>